html {
  overflow-y: scroll;
}

.wrapper {
	background-color: rgba(0,0,0,0);
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

* {
	color: black !important;
	background-color: rgba(0,0,0,0);
}

.accordion {
	border-left: none !important;
	border-right: none !important;
}

.accordion-title {
	font-size: 1em;
}

.accordion-item {
	border: none !important;
}

.accordion-content {
	font-weight: 400 !important;
}

 .pic {
 	@include aspect-ratio(1,1);
 	max-height: 90vh;
 	max-width: auto;
 }

#name {
	text-align: center;
	font-size: 1em;
}

.e {
	padding-left: 0rem !important;
	padding-right: 0rem !important;
}

.text:hover {
	text-decoration: underline;
}

.smallmenu {
	table-layout: center !important;
}
.s {
	margin-left: auto;
	margin-right: auto;
}

#m {
	font-size: 10vw !important;
	margin: 0rem;
}
#n {
	font-size: 10vw !important;
	margin-top: -1rem !important;
	margin: 0rem;
}

.hidden {
	display: none;
}

.sq {
	width: auto;
	@include aspect-ratio(1,1);
	height: 100%;
	background-color: lightblue !important;
}

h3 {
	font-family: 'montserrat', sans-serif;
}

.ss-q-title{
	font-size: 1em;
}

input {
	max-width: 100%;
}

form {
	max-width: 100%;
}

#ss-submit {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	padding: 3px;
}

ol {
	margin-left: 0px;
}