/* Color Scheme 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-scheme-1 {
  color: #EA628F;
  background: url('../background.svg'), linear-gradient(135deg, #162844, #04080F);
  height: 100vh;
  width: 100vw;
}
.color-scheme-1 input[type="text"], .color-scheme-1 textarea {
  color: #162844;
  background-color: #FFD8D8 !important;
}
.color-scheme-1 button {
  color: #FFD8D8;
  background-color: #162844;
}
.color-scheme-1 svg {
    fill: #FFD8D8;
}
.color-scheme-1 input[type="submit"] {
  color: #FFD8D8;
  background-color: #162844;
}

/* Color Scheme 2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-scheme-2 {
  color: #452C2B;
  background-color: #DCE0D9;
}
.color-scheme-2 input[type="text"], .color-scheme-2 textarea {
  color: #DCE0D9;
  background-color: #25231D !important;
}
.color-scheme-2 button {
  color: #25231D;
}
.color-scheme-2 svg {
    fill: #25231D;
}
.color-scheme-2 input[type="submit"] {
  color: #25231D;
}

/* Color Scheme 3
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-scheme-3 {
  color: #C4F1BE;
  background-color: #23846A;
}
.color-scheme-3 input[type="text"], .color-scheme-3 textarea {
  color: #23846A;
  background-color: #F1FFE7 !important;
}
.color-scheme-3 button {
  color: #F1FFE7;
}
.color-scheme-3 svg {
    fill: #F1FFE7;
}
.color-scheme-3 input[type="submit"] {
  color: #F1FFE7;
}

/* Color Scheme 4
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-scheme-4 {
  color: #656176;
  background-color: #F8F1FF;
}
.color-scheme-4 input[type="text"], .color-scheme-4 textarea {
  color: #F8F1FF;
  background-color: #5A4788 !important;
}
.color-scheme-4 button {
  color: #5A4788;
}
.color-scheme-4 svg {
    fill: #5A4788;
}
.color-scheme-4 input[type="submit"] {
  color: #5A4788;
}

/* Color Scheme 5
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-scheme-5 {
  color: #4E0110;
  background-color: #B5D2CB;
}
.color-scheme-5 input[type="text"], .color-scheme-5 textarea {
  color: #B5D2CB;
  background-color: #475B5A !important;
}
.color-scheme-5 button {
  color: #475B5A;
}
.color-scheme-5 svg {
    fill: #475B5A;
}
.color-scheme-5 input[type="submit"] {
  color: #475B5A;
}

/* Color Scheme 6
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-scheme-6 {
  color: #91C7B1;
  background-color: #54494B;
}
.color-scheme-6 input[type="text"], .color-scheme-6 textarea {
  color: #54494B;
  background-color: #F1F7ED !important;
}
.color-scheme-6 button {
  color: #F1F7ED;
}
.color-scheme-6 svg {
    fill: #F1F7ED;
}
.color-scheme-6 input[type="submit"] {
  color: #F1F7ED;
}

/* Document CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  overflow-y: scroll;
}

* {
  font-family: 'montserrat', sans-serif !important;
  font-weight: 700;
}

svg {
  width: 100vw;
  max-width: 100%;
  height: auto;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

button {
  width: 100%;
}

#menu {
  margin-top: 2rem;
}

a {

}

 .pic {
 	@include aspect-ratio(1,1);
 	max-height: 90vh;
 	max-width: auto;
 }

.text:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.sq {
	width: auto;
	@include aspect-ratio(1,1);
	height: 100%;
}

.ss-q-title{
	font-size: 1em;
}

input {
	width: 100%;
}

textarea {
  width: 100%;
  height: 4rem;
}
